.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination > li {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
  font-size: 12px;
  color: #9e9e9e;
}

.pagination > li.active {
  cursor: not-allowed;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 50px;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
